{% extends 'home/navbar.html' %} {% block content %}

<div class="container">
    <form action="{% url 'cointoss:cointoss_results' %}" method="post">
        {% csrf_token %} Decision on:
        <input type="text" name="decision1">
        <br> Number of rounds:
        <select name="rounds"> {% for q in rounds %}
            <option value="{{ q }}" name="q">Best of {{ q }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Submit" />
    </form>


    {% endblock %}

</div>